In [1]:
import pandas as pd
import polars as pl
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import precision_recall_curve
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
from collections import defaultdict
import warnings
from tqdm import tqdm
import pickle

tqdm.pandas()
warnings.filterwarnings("ignore")

In [2]:
year = 22
df_csv = f"./data/CampaignFin{year}/indivs{year}.txt"
donors_csv = f"./output/donors{year}_pred_lastname.csv"
names_csv = "./data/USIN.csv"

In [3]:
donors = pd.read_csv(donors_csv)
donors.head(10)

,contrib_id,name,name_new,orgname,ultorg,gender,occupation,employer,total_donated,donation_count,avg_donation,med_donation,lastname,ethnic
0,,"HOME, 30119 SETTLE",30119 settle home,[24T Contribution],NaN,,NOT EMPLOYED,NOT EMPLOYED,1.649385e+09,115116,1.432803e+04,25.0,home,not
1,U00000003641,"SOROS, GEORGE",george soros,Soros Fund Management,NaN,M,EXECUTIVE,SOROS FUND MANAGEMENT,1.800173e+08,204,8.824376e+05,2900.0,soros,not
2,U00000036901,"UIHLEIN, RICHARD",richard uihlein,Uline Inc,NaN,M,CEO/OWNER,ULINE,8.422153e+07,369,2.282426e+05,2900.0,uihlein,not
3,U00000036551,"GRIFFIN, KENNETH C",kenneth c griffin,Citadel LLC,NaN,M,CEO,CITADEL LLC,7.437550e+07,317,2.346230e+05,2900.0,griffin,not
4,U00000042451,"YASS, JEFF",jeff yass,Susquehanna International Group,NaN,M,MANAGING DIRECTOR,SIG,5.632450e+07,49,1.149480e+06,5800.0,yass,not
5,U0000004705,"BANKMAN-FRIED, SAMUEL",samuel bankman-fried,FTX.US,NaN,M,CEO,FTX US,4.204488e+07,338,1.243931e+05,5000.0,bankman-fried,not
6,U00000046841,"MELLON, TIMOTHY",timothy mellon,Investor,NaN,M,INVESTOR,SELF-EMPLOYED,4.174640e+07,31,1.346658e+06,2900.0,mellon,not
7,U00000037041,"BLOOMBERG, MICHAEL R",michael r bloomberg,Bloomberg Lp,NaN,M,FOUNDER,BLOOMBERG INC.,4.133051e+07,39,1.059757e+06,200000.0,bloomberg,not
8,U0000003235,"EYCHANER, FRED",fred eychaner,Newsweb Corp,NaN,M,OWNER,NEWSWEB CORP,3.782750e+07,234,1.616560e+05,10000.0,eychaner,not
9,U00000003611,"SCHWARZMAN, STEPHEN",stephen schwarzman,Blackstone Group,NaN,M,CHAIRMAN CEO,BLACKSTONE,3.754490e+07,281,1.336117e+05,2900.0,schwarzman,not

In [4]:
lf = (
        pl.scan_csv(
            df_csv,
            separator=',', 
            quote_char='|', 
            encoding='utf8-lossy', 
            has_header=False,
            new_columns=['dummy1', 'dummy2', 'contrib_id', 'name', 'recip_id', 
                        'orgname', 'ultorg', 'realcode', 'dummy3', 'amount', 
                        'street', 'city', 'state', 'zip', 'recipcode', 'type', 'dummy4', 'dummy5', 'gender', 'dummy6', 'occupation', 'employer', 'dummy7'],
            schema_overrides={'amount': pl.Float64, 'name': pl.Utf8, 'state': pl.Utf8, 'city': pl.Utf8},
            ignore_errors=True
        )
        .select(['dummy1', 'dummy2', 'contrib_id', 'name', 'recip_id', 'orgname', 'ultorg', 'realcode', 
                 'amount', 'street', 'city', 'state', 'zip', 'recipcode', 'type', 
                 'gender', 'occupation', 'employer'])
        # remove blank donations
        .filter(~pl.col('amount').is_null())
        # remove refunds
        .filter(pl.col('amount') > 0)
        # create a lowercase name column in the usual format
        .with_columns([
            pl.col("name").str.split(",").list.get(-1)
                .str.to_lowercase().str.strip_chars().alias("firstname"),
            pl.col("name").str.split(",").list.first()
                .str.to_lowercase().str.strip_chars().alias("lastname"),
        ])
        .with_columns([
            (pl.col("firstname") + " " + pl.col("lastname")).alias("name_new")
        ])
    )

In [5]:
df = lf.collect(streaming=True)
print(df.head(10))
print(len(df))

shape: (10, 21)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ dummy1 ┆ dummy2     ┆ contrib_id ┆ name      ┆ … ┆ employer  ┆ firstname ┆ lastname  ┆ name_new  │
│ ---    ┆ ---        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ i64    ┆ i64        ┆ str        ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2022   ┆ 4061520221 ┆ r001425651 ┆ DILLARD,  ┆ … ┆ NOT       ┆ daniel    ┆ dillard   ┆ daniel    │
│        ┆ 505841534  ┆ 0          ┆ DANIEL    ┆   ┆ EMPLOYED  ┆           ┆           ┆ dillard   │
│ 2022   ┆ 4061520221 ┆ r001550361 ┆ WHITE,    ┆ … ┆ NOT       ┆ scotto    ┆ white     ┆ scotto    │
│        ┆ 505841535  ┆ 4          ┆ SCOTTO    ┆   ┆ EMPLOYED  ┆           ┆           ┆ white     │
│ 2022   ┆ 4061520221 ┆ p000386130 ┆ DOMINGUEZ ┆ … ┆ MCDONALD  ┆ sallie    ┆ dominguez ┆ sallie    │
│        ┆ 505841536  ┆ 8          ┆ , SALLIE  ┆   ┆ FAMILY    ┆           ┆           ┆ dominguez │
│        ┆            ┆            ┆           ┆   ┆ DENTAL    ┆           ┆           ┆           │
│ 2022   ┆ 4061520221 ┆ p000368953 ┆ BRADLEY,  ┆ … ┆ MEDICAL   ┆ jannette  ┆ bradley   ┆ jannette  │
│        ┆ 505841543  ┆ 5          ┆ JANNETTE  ┆   ┆ CENTER    ┆           ┆           ┆ bradley   │
│ 2022   ┆ 4061520221 ┆ q000218137 ┆ BHATT,    ┆ … ┆ FRYE      ┆ tanya     ┆ bhatt     ┆ tanya     │
│        ┆ 505841545  ┆ 8          ┆ TANYA     ┆   ┆ FINANCIAL ┆           ┆           ┆ bhatt     │
│ 2022   ┆ 4061520221 ┆ r001550361 ┆ WHITE,    ┆ … ┆ NOT       ┆ scotto    ┆ white     ┆ scotto    │
│        ┆ 505841548  ┆ 4          ┆ SCOTTO    ┆   ┆ EMPLOYED  ┆           ┆           ┆ white     │
│ 2022   ┆ 4061520221 ┆ h300347255 ┆ ALDERMAN, ┆ … ┆ NOT       ┆ susan     ┆ alderman  ┆ susan     │
│        ┆ 505841550  ┆ 2          ┆ SUSAN     ┆   ┆ EMPLOYED  ┆           ┆           ┆ alderman  │
│ 2022   ┆ 4061520221 ┆ p000482565 ┆ HOTVET,   ┆ … ┆ MY STATE  ┆ martin    ┆ hotvet    ┆ martin    │
│        ┆ 505841553  ┆ 3          ┆ MARTIN    ┆   ┆           ┆           ┆           ┆ hotvet    │
│ 2022   ┆ 4061520221 ┆ b006033111 ┆ EISENBERG ┆ … ┆ BLANK     ┆ bruce     ┆ eisenberg ┆ bruce     │
│        ┆ 505841558  ┆ 31         ┆ , BRUCE   ┆   ┆ ROME LLP  ┆           ┆           ┆ eisenberg │
│ 2022   ┆ 4061520221 ┆ j100228224 ┆ FLEISCHLI ┆ … ┆ UNIVERSIT ┆ mary      ┆ fleischli ┆ mary      │
│        ┆ 505841560  ┆ 6          ┆ , MARY    ┆   ┆ Y OF CONN ┆           ┆           ┆ fleischli │
│        ┆            ┆            ┆           ┆   ┆ ECTICUT   ┆           ┆           ┆           │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘
63581442

In [6]:
print(len(donors))
donors = donors.drop_duplicates(subset=["contrib_id"])
print(len(donors))

2761018
2761018

In [7]:
df_names = df.select(["contrib_id", "name_new"]).join(
    pl.from_pandas(donors).select(["contrib_id", "ethnic"]),
    on="contrib_id",
    how="left"
)

In [8]:
# df = df.to_pandas()
# df_names = df[["contrib_id", "name_new"]].merge(donors[["contrib_id", "ethnic"]], on="contrib_id", how="left")
print(len(df_names))

63581442

In [10]:
df_names.write_csv(f"./output/df{year}_pred_lastname_keys.csv")
df_names["ethnic"].value_counts()

shape: (2, 2)
┌────────┬──────────┐
│ ethnic ┆ count    │
│ ---    ┆ ---      │
│ str    ┆ u32      │
╞════════╪══════════╡
│ ind    ┆ 216268   │
│ not    ┆ 63365174 │
└────────┴──────────┘

In [12]:
df = df.with_columns(df_names["ethnic"])
df.write_csv(f"./output/df{year}_pred_lastname.csv")
df.head(10)

shape: (10, 22)
┌────────┬─────────────┬────────────┬────────────┬───┬───────────┬───────────┬────────────┬────────┐
│ dummy1 ┆ dummy2      ┆ contrib_id ┆ name       ┆ … ┆ firstname ┆ lastname  ┆ name_new   ┆ ethnic │
│ ---    ┆ ---         ┆ ---        ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ---        ┆ ---    │
│ i64    ┆ i64         ┆ str        ┆ str        ┆   ┆ str       ┆ str       ┆ str        ┆ str    │
╞════════╪═════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪════════════╪════════╡
│ 2022   ┆ 40615202215 ┆ r001425651 ┆ DILLARD,   ┆ … ┆ daniel    ┆ dillard   ┆ daniel     ┆ not    │
│        ┆ 05841534    ┆ 0          ┆ DANIEL     ┆   ┆           ┆           ┆ dillard    ┆        │
│ 2022   ┆ 40615202215 ┆ r001550361 ┆ WHITE,     ┆ … ┆ scotto    ┆ white     ┆ scotto     ┆ not    │
│        ┆ 05841535    ┆ 4          ┆ SCOTTO     ┆   ┆           ┆           ┆ white      ┆        │
│ 2022   ┆ 40615202215 ┆ p000386130 ┆ DOMINGUEZ, ┆ … ┆ sallie    ┆ dominguez ┆ sallie     ┆ not    │
│        ┆ 05841536    ┆ 8          ┆ SALLIE     ┆   ┆           ┆           ┆ dominguez  ┆        │
│ 2022   ┆ 40615202215 ┆ p000368953 ┆ BRADLEY,   ┆ … ┆ jannette  ┆ bradley   ┆ jannette   ┆ not    │
│        ┆ 05841543    ┆ 5          ┆ JANNETTE   ┆   ┆           ┆           ┆ bradley    ┆        │
│ 2022   ┆ 40615202215 ┆ q000218137 ┆ BHATT,     ┆ … ┆ tanya     ┆ bhatt     ┆ tanya      ┆ ind    │
│        ┆ 05841545    ┆ 8          ┆ TANYA      ┆   ┆           ┆           ┆ bhatt      ┆        │
│ 2022   ┆ 40615202215 ┆ r001550361 ┆ WHITE,     ┆ … ┆ scotto    ┆ white     ┆ scotto     ┆ not    │
│        ┆ 05841548    ┆ 4          ┆ SCOTTO     ┆   ┆           ┆           ┆ white      ┆        │
│ 2022   ┆ 40615202215 ┆ h300347255 ┆ ALDERMAN,  ┆ … ┆ susan     ┆ alderman  ┆ susan      ┆ not    │
│        ┆ 05841550    ┆ 2          ┆ SUSAN      ┆   ┆           ┆           ┆ alderman   ┆        │
│ 2022   ┆ 40615202215 ┆ p000482565 ┆ HOTVET,    ┆ … ┆ martin    ┆ hotvet    ┆ martin     ┆ not    │
│        ┆ 05841553    ┆ 3          ┆ MARTIN     ┆   ┆           ┆           ┆ hotvet     ┆        │
│ 2022   ┆ 40615202215 ┆ b006033111 ┆ EISENBERG, ┆ … ┆ bruce     ┆ eisenberg ┆ bruce      ┆ not    │
│        ┆ 05841558    ┆ 31         ┆ BRUCE      ┆   ┆           ┆           ┆ eisenberg  ┆        │
│ 2022   ┆ 40615202215 ┆ j100228224 ┆ FLEISCHLI, ┆ … ┆ mary      ┆ fleischli ┆ mary       ┆ not    │
│        ┆ 05841560    ┆ 6          ┆ MARY       ┆   ┆           ┆           ┆ fleischli  ┆        │
└────────┴─────────────┴────────────┴────────────┴───┴───────────┴───────────┴────────────┴────────┘